/*--------------------------------------------------------------
2.0 Document Setup
--------------------------------------------------------------*/
/*------------------------------
	2.1 Typography
------------------------------*/
html {
    font-size: 15px;
    line-height: 1.6;
}

button, input, select, textarea {
    font-size: 15px;
    line-height: 1.6;
    position: relative;
}

body {
	background: #ffffff;
}
pre,
code,
input,
textarea {
	font: inherit;
}

::-moz-selection { 
	background: #fbf18e;
	color: #2a2b2f;
}
	
::selection {
	background: #fbf18e;
	color: #2a2b2f;
}

/*------------------------------
	2.2 Links
------------------------------*/
a {
	color: $link_color;
	text-decoration: none;
	outline: none;
	&:hover, &:active, &:focus {
		outline: none;
		text-decoration: none;
		color: $link_color_hover;
	}
	@include transition(all 0.3s ease 0s);
}

/*------------------------------
	2.3 Heading
------------------------------*/
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
	margin: 10px 0;
	@extend .break;
	& a {
		color: $link_color;
		text-decoration: none;
		&:hover, &:focus {
			color: $link_color_hover;
		}
	}
}

h1 {
	margin: 40px 0 32px 0;
}
h2 {
	margin: 27px 0 18px 0;
}
h3 {
	letter-spacing: normal;
	margin: 26px 0 16px 0;
}
h4 {
	letter-spacing: normal;
	margin: 21px 0 19px 0;
}
h5 {
	letter-spacing: normal;
	margin: 18px 0 13px 0;
}
h6 {
	letter-spacing: normal;
	margin: 18px 0 13px 0;
}

/*------------------------------
	2.4 Base
------------------------------*/
address, caption, cite, code, dfn, th, var {
	font-weight: 400;
}

a, abbr, acronym, address, applet, b, big, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, html, i, iframe, img, ins, kbd, label, legend, object, q, s, samp, small, span, strike, strong, sub, sup, tbody, td, tfoot, th, thead, tr, tt, u, var {
	border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

pre {
	border-radius: 0;
	white-space: pre;
    word-wrap: break-word;
    padding: 30px;
} 

/*------------------------------
	2.5 Content
------------------------------*/
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	clear: both;
	padding: 10px 20px;
	padding-left:30px;
	margin: 0 0 20px;
	border-left: 3px solid #eee;
	font-style: normal;
	font-family: 'Lato',Arial,Helvetica,sans-serif;
	font-size: 21px;
	line-height:32px;
	color:$link_color;
	font-weight:300;
	p {
		line-height: 1.5;
		font-size: 21px;
	}
	cite {
		font-style: normal;
		margin-bottom: 20px;
		font-size: 13px;
		font-weight: 400;
	}

	.small, footer, small {
		font-family: 'Open Sans',Arial,Helvetica,sans-serif;
		font-size: 13px;
		color: #7e8082;
		font-style: normal;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

figure {
	margin: 0;
}

address {
	margin: 20px 0;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin-bottom: 20px;
}

details {
	summary {
		font-weight: bold;
		margin-bottom: 20px;
	}
	:focus {
		outline: none;
	}
}

abbr,
acronym,
dfn {
	cursor: help;
	font-size: .95em;
	text-transform: uppercase;
	border-bottom: 1px dotted #eee;
	letter-spacing: 1px;
}

mark {
	background-color: #fff9c0;
	text-decoration: none;
}

small {
	font-size: 85%;
}

big {
	font-size: 125%;
}

.icon-list {
	list-style-type: none;
    margin-left: 24px;
    padding-left: 0;

    li {
    	position: relative;
    }

    >li [class*=" fa-"] {
		position: absolute;
		left: -21px;
		text-align: center;
		top: 4px;
		width: 14px;
	}
}

audio, video {
	max-width: 100%;
	width: 100%;
}

/*------------------------------
	2.6 Table
------------------------------*/
/* table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-collapse: collapse;
    border-spacing: 0;
}

table > thead > tr > th, 
table > tbody > tr > th, 
table > tfoot > tr > th, 
table > thead > tr > td, 
table > tbody > tr > td, 
table > tfoot > tr > td {
    border: 1px solid #eee;
    line-height: 1.42857;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

table > thead > tr > th, table > thead > tr > td {
    border-bottom-width: 2px;
    font-weight: bold;
} */

/*------------------------------
	2.7 Form
------------------------------*/
fieldset{
	padding: 20px;
	border: 1px solid #eee;
}

textarea {
	resize: vertical;
}
select {
	max-width: 100%;
	overflow: auto;
	vertical-align: top;
	outline: none;
	border: 1px solid #eee;
	padding: 10px;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="radio"],input[type="checkbox"] {
	margin: 0 10px;
}

input, textarea,input[type="submit"]:focus{
	outline: 0 none;
}

input, textarea, select, .login-select, .form-control {
	border: none;
	border-bottom: 1px solid #a6a7a9; 
	border-radius: 2px;
	background: transparent;
	color: $link_color;
	font-size: 14px;
	margin: 0;
	outline: medium none;
	padding: 8px 20px 8px 0;
}

.form-control {
	box-shadow: none;
	&:focus {
		border-color: $link_color;
		box-shadow: none;
	}
}

body {
	input[type=text], input[type=email], input[type=password], input[type=phone] {
		border-radius: 0;
	}
}

/*------------------------------
	2.8 Accessibility
------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	@include border-radius( 3px );
	clip: auto !important;
	color: $link_color;
	display: block;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 1.7em;
	padding: 17px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Define
------------------------------*/
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center ;
}