/*--------------------------------------------------------------
8.0 Supports
--------------------------------------------------------------*/
body {
	font-size: 14px;
	font-family: $font_open_san;
	color: #6b6d6f;
	line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font_poppins;
	font-weight: 400;
	color: #2a2b2f;
}

h1 {
	margin: 40px 0 32px 0;
	font-size: 32px;
	line-height: 45px;
}
h2 {
	margin: 27px 0 18px 0;
	font-size: 28px;
	line-height: 32px;
}
h3 {
	margin: 26px 0 16px 0;
	font-size: 24px;
	line-height: 33px;
}
h4 {
	margin: 21px 0 19px 0;
	font-size: 18px;
	line-height: 25px;
}
h5 {
	margin: 18px 0 13px 0;
	font-size: 14px;
	line-height: 25px;
}
h6 {
	margin: 18px 0 13px 0;
	font-size: 12px;
	line-height: 18px;
}

.display-flex {
	display: flex !important;
}

.pos-abs {
	position: absolute;
}

.pos-rev {
	position: relative;
}

.pos-static {
	position: static !important;

	.owl-stage-outer {
		z-index: 2;
	}
}

body {
	.fes2-title-45 {
		font-size: 45px;
		line-height: 50px;
		font-weight: normal;
		margin: 0;
	}

	.ovef-visb {
		overflow: visible !important;
	}

	.vc_tta-container {
		margin-bottom: 0;
	}

	.tp-caption {
		a {
			@include transition(all 0.3s ease 0s !important);

			&.cms-button {
				padding: 13px 33px !important;
				line-height: 1.2 !important;
				font-size: 13px !important;
			}
		}
	}
}

strong, b {
	font-weight: 600 !important;
}

.site-content {
	overflow: hidden;
}

/* .over-hidden {
	overflow: hidden;
} */

.cms-row {
	margin-bottom: 24px !important;
}
.mt-0 {margin-top: 0px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-55 {margin-top: 55px !important;}
.mt-60 {margin-top: 60px !important;}
.mt-130 {margin-top: 130px !important;}

.mb-0 {margin-bottom: 0px !important;}
.mb-5 {margin-bottom: 5px !important;}
.mb-9 {margin-bottom: 9px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-23 {margin-bottom: 23px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-31 {margin-bottom: 31px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-55 {margin-bottom: 55px !important;}
.mb-60 {margin-bottom: 60px !important;}
.mb-70 {margin-bottom: 70px !important;}
.mb-80 {margin-bottom: 80px !important;}
.woo-section-top {margin-bottom: 90px;}

.ml-20 {margin-left: 20px !important;}

.pb-10 {padding-bottom: 10px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-55 {padding-bottom: 55px !important;}
.pb-60 {padding-bottom: 60px !important;}
.pb-70 {padding-bottom: 70px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-90 {padding-bottom: 90px !important;}
.p-100-cont {padding-top:100px; padding-bottom:100px; }
.p-110-cont {padding-top:110px; padding-bottom:110px; }
.p-140-cont{ padding-top:140px; padding-bottom:140px;}
.p-160-cont{ padding-top:160px; padding-bottom:160px;}
.pt-20 {
	padding-top: 20px !important;
}

.p-40 {
	padding: 40px;
}

.p-140-cont.pt-0 {
	padding-top: 0 !important;
}

.p-140-cont.pb-0 {
	padding-bottom: 0 !important;
}

.pt-110-b-80-cont {
	padding-top: 110px;
	padding-bottom: 80px;
}

.fes2-main-text-cont {
	margin: 0 auto;
	padding: 145px 50px;
	max-width:500px; 
}


.pt-100-b-80-cont {
	padding-top: 100px;
	padding-bottom: 80px;
}

.bg-gray {
	background: #eee;
}

.mt160-min-1024 {
	margin-top: 160px;
}

.font-montserrat {
	font-family: $font_montserrat !important;
}

.font-poppins {
	font-family: $font_poppins !important;
}

.font-josefin {
	font-family: $font_josefin !important;
}

.font-raleway {
	font-family: $font_raleway !important;
}

.font-opensans {
	font-family: $font_open_san !important;
}

.font-20 {
	font-size: 20px !important;
	line-height: 30px !important;
}

.font-26 {
	font-size: 26px !important;
	line-height: 36px !important;
}

.font-normal {
	font-weight: normal !important;
}

.lsp-2 {letter-spacing: 2px !important; }
.lsp-3 {letter-spacing: 3px !important; }
.lsp-4 {letter-spacing: 4px !important; }
.lsp-5 {letter-spacing: 5px !important; }

.red-dot {
	color: red;
}

.w-600 {
	font-weight: 600 !important;	
}

.slash-divider-10 {
	margin-right:10px;
 	margin-left:10px;
}

.bg-b-p-grad {
	background: #82c2ed; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #82c2ed 0%, #a381ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #82c2ed 0%,#a381ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #82c2ed 0%,#a381ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c2ed', endColorstr='#a381ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-g-b-grad {
	background: #8adbdb; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #8adbdb 0%, #344e9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #8adbdb 0%,#344e9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #8adbdb 0%,#344e9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8adbdb', endColorstr='#344e9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-gradient-custom {
	@include background-gradient-custom(#8adbdb, #344e9b);
}

@media screen and (max-width : 1024px) {
	.p-140-cont{ padding-top: 120px; padding-bottom: 120px;}
	.fes2-main-text-cont {padding: 110px 50px 110px 50px;}
	.woo-section-top {margin-bottom: 70px;}
	.mt160-min-1024 {
		margin-top: 0px;
	}
}

@media screen and (max-width : 768px) {
	.p-140-cont{ padding-top:80px; padding-bottom:80px;}
	.fes2-main-text-cont {padding: 100px 30px 100px 30px;}
	.woo-section-top {margin-bottom: 30px;}
	.pt-100-b-80-cont{ padding-top:80px; padding-bottom:60px;}

	body {
		.fes2-title-45 {
			font-size: 30px;
			line-height: 30px;
		}
	}
}

@media screen and (max-width: 767px) {
	.mt-130 {
		margin-top: 50px;
	}

	.w-100-767 {
		width: 100% !important;
	}

	.text-center-767 {
		text-align: center !important;
	}

	.border-none-767 {
		border: none !important;
	}

	.mw-100-767 {
		min-width: 767px;
	}
	.pt-110-b-80-cont {padding-top:80px; padding-bottom:50px;}
	.p-100-cont, .p-110-cont { padding-top:80px; padding-bottom:80px;}
	.p-160-cont { padding-top: 120px; padding-bottom: 120px;}

	body {
		.vc_row {
			margin-left: -15px !important;
			margin-right: -15px !important;
		}

		.plr15-on-767 {
			padding-left: 0px !important;
			padding-right: 0px !important;

			.vc_column-inner {
				padding-left: 15px !important;
				padding-right: 15px !important;
			}	
		}
	}
}

.w-100 {
	img {
		width: 100%;
	}
}

.open-hours li {
	padding-bottom: 7px;
}

.cms-video-popup {
	display: block;
}

/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, embed, object {
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
} */

/* Form element */
input, textarea, select, .login-select, .form-control {
	color: #2a2b2f;
	border-bottom-color: #ebebeb;
	font-family: $font_poppins;
}

select {
	@include css3-prefix(appearance, none);
}

button {
	@include transition(all 0.3s ease 0s);
}

form.text-xs-center {
	.input-with-icon {
		position: relative;

		.icon {
			left: 12px;
		    position: absolute;
		    top: 12px;
		}

		input {
			padding-left: 40px;
    		width: 100%;
    		color: #2a2b2f;
    		border-bottom: 1px solid #ccc;

    		&::-webkit-input-placeholder {color: #2a2b2f; @include opacity(1);}
			&::-moz-placeholder          {color: #2a2b2f; @include opacity(1);}/* Firefox 19+*/
			&:-moz-placeholder           {color: #2a2b2f; @include opacity(1);}/* Firefox 18- */
			&:-ms-input-placeholder      {color: #2a2b2f; @include opacity(1);}
		}
	}
}

.violet-icon-color {
	.cms-fancybox-item .fancy-icon .icon {
		color: #676bb8;
	}
}

.latest-block-car-layout {
	.latest-blog-wrap .entry-metadata .entry-author {
		display: none !important;
	}
}

/* REV Slider custom class
--------------------------------------*/
.light-72-wide {
	.cms-heading-inner {
		@media screen and (min-width: 768px) and (max-width: 1024px) {
			letter-spacing: 5px !important;
		}

		@media screen and (max-width: 767px) {
			font-size: 28px !important;
		    letter-spacing: 3px !important;
		    line-height: 30px !important;
		}
	}
}

/*------------------------------
	8.1 OWL carousel
------------------------------*/
/* Owl core
-----------------------------------------------------*/
.center{text-align: center}
.wpb_revslider_element.wpb_content_element{margin-bottom: 0}
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;

	&.owl-loaded {
		display: block;
	}

	.owl-wrapper {
		display: none;
		position: relative;
		@include transform(translate3d(0px, 0px, 0px));

		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
	}

	.owl-wrapper-outer {
		overflow: hidden;
		position: relative;
		width: 100%;
	    z-index: 5;

	    &.autoHeight{
			@include transition(height 500ms ease-in-out);
		}
	}

	.owl-item {
		float: left;

		img {
			max-width: 100%;
			width: auto;
			margin: 0 auto;
		}
	}

	.owl-page, .owl-buttons div {
		cursor: pointer;
	}

	.owl-wrapper, .owl-item {
		@include css3-prefix(backface-visibility, hidden);
		@include transform(translate3d(0,0,0));
	}

	/* Arrow outside container */
	&.arrow-nav-outside {
		position: static;
		
		.owl-controls {
			.owl-nav > div {
				color: rgba(75, 78, 83, 0.7);

				&:hover {
					color: rgba(75, 78, 83, 1);					
				}
			}

			.owl-prev {
				left: 15px; 
				color: rgba(75, 78, 83, 1);
				@include opacity(1);
			}
			.owl-next {
				right: 15px;
				color: rgba(75, 78, 83, 1);
				@include opacity(1);
			}

			.cms-testimonials-wrap {
				margin-bottom: 0 !important;
			}

			.owl-dots {
				bottom: auto;
			}
		}

		@media screen and (min-width: 1200px) {
			.owl-prev {
				left: 15px; 
				@include opacity(1);
			}
			.owl-next {
				right: 15px;
				@include opacity(1);
			}
		}
	}
}

.owl-controls {
	@include css3-prefix(user-select, none);
	@include css3-prefix(tap-highlight-color, rgba(0, 0, 0, 0));
}
/* mouse grab icon */
.grabbing { 
 	cursor:url(grabbing.png) 8 8, move;
}

/* Owl custom
-----------------------------------------------------*/
.owl-buttons {
	position: static;
}

.owl-carousel {
 	overflow: hidden;

 	&:hover {
 		.owl-prev {
			opacity: 1;
			left: 0px;
		}

		.owl-next {
			opacity: 1;
			right: 0px;
		}
 	}

 	.owl-prev, .owl-next {
		@include opacity(0);
		display: block;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 40px;
		text-align: center;
		color: #2a2b2f;
		z-index: 6;
		@include transition(all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000));

		i {
			display: block;
			line-height: 50px;
			margin: 0;
			width: 50px;
			height: 50px;
			vertical-align: middle;

			&:before {
				line-height: inherit;
			}
		}
	}

	.owl-arrows-bg .owl-prev, .owl-arrows-bg .owl-next {
		margin-top: -35px;
		padding-top:19px;
		width: 40px;
		height: 70px;
		background:#fff;
		line-height: 30px;
		font-size: 30px;
		color: rgba(16,16,16, .7);
		@include box-shadow(1px, 1px, 0px, rgba(0, 0, 0, .1));
	}

	/* .owl-arrows-bg .owl-next {
		@include box-shadow(-1px, 1px, 0px, rgba(0, 0, 0, 0.1));
	} */

	.owl-prev{
		left: -50px;
		.icon {position: relative;}
		&:hover {
			color:rgba(75, 78, 83, 0.7);
		}
	}
	.owl-next{
		right: -50px;
		.icon {position: relative;}
	}

	/* owl-dot */
	.owl-dots {
		z-index:5;
		display: block;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;

		.owl-dot {
			display: inline-block;
			padding: 6px;
			position: relative;

			span {
				width: 6px;
				height: 6px;
				display: block;
				background: #a5a7a9;
				position: relative;
				border-radius: 50%;
				@include transition(all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000));
			}

			&:hover span {
				background: #a5a7a9;
			} 

			&.active span {
				@include transform(scale(1.5));
			}
		}
	}

	.owl-pag-2 .owl-dots {
		bottom: 10px;
	}
}


@media only screen and (max-width: 992px) {
  .owl-carousel:hover .owl-prev{
    opacity: 1;
    left: -27px;
  }
  .owl-carousel:hover .owl-next{
    opacity: 1;
    right: -27px;
  }
}


/*------------------------------
	8.2 Magnific Popup CSS 
------------------------------*/
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: .8;
	@include opacity(0.8);
}

.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	@include css3-prefix(backface-visibility, hidden);

	.mfp-container {
		text-align: center;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding: 0 8px;
		@include css3-prefix(box-sizing, border-box);

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle; 
		}
	}

	.mfp-content {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		text-align: left;
		z-index: 1045; 
	}
}

.mfp-align-top .mfp-container:before {
	display: none; 
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; 
}

.mfp-ajax-cur {
 	cursor: progress; 
}

.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; 
}

.mfp-auto-cursor .mfp-content {
	cursor: auto; 
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}

.mfp-loading.mfp-figure {
	display: none; 
}

.mfp-hide {
	display: none !important; 
}

.mfp-preloader {
	color: #cccccc;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -.8em;
	left: 8px;
	right: 8px;
	z-index: 1044;

	a {
		color: #cccccc; 
		&:hover {
			color: white;
		}
	}
}

.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader {
	display: none;
}

button.mfp-close, button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	@include css3-prefix(appearance, none);
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	@include css3-prefix(box-shadow, none);
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65;
	padding: 0 0 18px 10px;
	color: white;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace; 
}

.mfp-close:hover, .mfp-close:focus {
    @include opacity(1);
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
	color: #333333; 
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; 
}

.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #cccccc;
	font-size: 14px;
	line-height: 18px;
}

.mfp-arrow {
	position: absolute;
	@include opacity(0.65);
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 

	&:active {
		margin-top: -54px;
	}
	&:hover, &:focus {
		@include opacity(1);
	}
	&:before, &:after, .mfp-b, .mfp-a {
		content: '';
	    display: block;
	    width: 0;
	    height: 0;
	    position: absolute;
	    left: 0;
	    top: 0;
	    margin-top: 35px;
	    margin-left: 35px;
	    border: medium inset transparent;
	}
	&:after, .mfp-a {
		border-top-width: 13px;
	    border-bottom-width: 13px;
	    top: 8px;
	}
	&:before, .mfp-b {
		border-top-width: 21px;
    	border-bottom-width: 21px;
	}
}

.mfp-arrow-left {
	left: 0;
	&:after, .mfp-a {
		border-right: 17px solid white;
	    margin-left: 31px;
	}
	&:before, .mfp-b {
		margin-left: 25px;
    	border-right: 27px solid #3f3f3f;
	}
}

.mfp-arrow-right {
	right: 0;
	&:after, .mfp-a {
		border-left: 17px solid white;
    	margin-left: 39px;
	}
	&:before, .mfp-b {
		border-left: 27px solid #3f3f3f;
	}
}

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px;

	.mfp-content {
	    line-height: 0;
	    width: 100%;
	    max-width: 900px; 
	}

	.mfp-close {
	    top: -40px; 
	}
}


.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%; 
	iframe {
	    position: absolute;
	    display: block;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	    background: black; 
	}
}

/* Main image in popup */
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	padding: 40px 0 40px;
	margin: 0 auto; 
	@include css3-prefix(box-sizing, border-box);
}

/* The shadow behind the image */
.mfp-figure {
	line-height: 0; 
	&:after {
		content: '';
	    position: absolute;
	    left: 0;
	    top: 40px;
	    bottom: 40px;
	    display: block;
	    right: 0;
	    width: auto;
	    height: auto;
	    z-index: -1;
	    @include box-shadow(0, 0, 8px, rgba(0, 0, 0, .6));
	    background: #444444; 
	}

	small {
	    color: #bdbdbd;
	    display: block;
	    font-size: 14px;
	    line-height: 14px; 
	}

	figure {
	    margin: 0; 
	}
}

.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto; 
}

.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #f3f3f3;
	word-wrap: break-word;
	padding-right: 36px;
}

.mfp-image-holder .mfp-content {
	max-width: 100%; 
}

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer; 
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
	.mfp-img-mobile .mfp-image-holder {
		padding-left: 0;
		padding-right: 0; 
		img.mfp-img {
	    	padding: 0; 
	    }

	    .mfp-figure {
	    	&:after {
				top: 0;
				bottom: 0;
	    	}
	    	small {
				display: inline;
				margin-left: 5px; 
			}
	    }
	}

	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, .6);
		bottom: 0;
		margin: 0;
		top: auto;
		padding: 3px 5px;
		position: fixed;
		@include css3-prefix(box-sizing, border-box);
		&:empty {
      		padding: 0; 
      	}
      	.mfp-counter {
		    right: 5px;
		    top: 3px; 
		}

		.mfp-close {
		    top: 0;
		    right: 0;
		    width: 35px;
		    height: 35px;
		    line-height: 35px;
		    background: rgba(0, 0, 0, .6);
		    position: fixed;
		    text-align: center;
		    padding: 0; 
		}
	}
}

@media all and (max-width: 900px) {
	.mfp-wrap {
		.mfp-arrow {
			@include transform(scale(.75));
		}

		.mfp-arrow-left {
			@include css3-prefix(transform-origin, 0);
		}

		.mfp-arrow-right {
			@include css3-prefix(transform-origin, 100%);
		}

		.mfp-container {
			padding-left: 6px;
			padding-right: 6px; 
		}
	}
}

/* Animation
-----------------------------------------------------*/
/* text-based popup styling */
.white-popup {
	position: relative;
	background: #FFF;
	padding: 25px;
	width: auto;
	max-width: 400px;
	margin: 0 auto;
}

/* 
====== Zoom effect ======
*/
.mfp-zoom-in {
	.mfp-with-anim {
		@include opacity(0);
		@include transition(all .2s ease-in-out);
		@include transform(scale(.8));
	}

	&.mfp-bg {
	  	@include opacity(0);
		@include transition(all .3s ease-out);
	}

	&.mfp-ready {
		.mfp-with-anim {
			@include opacity(0);
			@include transform(scale(1));
		}
		&.mfp-bg {
			@include opacity(0.8);
		}
	} 
	&.mfp-removing .mfp-with-anim {
		@include opacity(0.8);
		@include transform(scale(1));
	}
	&.mfp-removing.mfp-bg {
		@include opacity(0);
	}
}

/* 
====== Newspaper effect ======
*/
.mfp-newspaper .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0) rotate(500deg);
  -moz-transform: scale(0) rotate(500deg);
  -ms-transform: scale(0) rotate(500deg);
  -o-transform: scale(0) rotate(500deg);
  transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.mfp-newspaper.mfp-ready .mfp-with-anim {
  opacity: 1;
  
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: .8;
}
.mfp-newspaper.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0) rotate(500deg);
  -moz-transform: scale(0) rotate(500deg);
  -ms-transform: scale(0) rotate(500deg);
  -o-transform: scale(0) rotate(500deg);
  transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== Move-horizontal effect ======
*/
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all .3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all .3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: .8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== Move-from-top effect ======
*/
.mfp-move-from-top .mfp-content {
  vertical-align: top;
}
.mfp-move-from-top .mfp-with-anim {
  opacity: 0;
  transition: all .2s;
  transform: translateY(-100px);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  transition: all .2s;
}
.mfp-move-from-top.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateY(0);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: .8;
}
.mfp-move-from-top.mfp-removing .mfp-with-anim {
  transform: translateY(-50px);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== 3d unfold ======
*/
.mfp-3d-unfold .mfp-content {
  perspective: 2000px;
  -webkit-perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-60deg);
  -moz-transform: rotateY(-60deg);
  -ms-transform: rotateY(-60deg);
  -o-transform: rotateY(-60deg);
  transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  transition: all .5s;
}
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: .8;
}
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
  -webkit-transform: rotateY(60deg);
  -moz-transform: rotateY(60deg);
  -ms-transform: rotateY(60deg);
  -o-transform: rotateY(60deg);
  transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

/* 
====== "Hinge" close effect ======
*/
@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}
/*	MAGNIFIC END	****************************************/


.grey-dark-bg {
	background: #303236;
}

.font-white, .font-white a {
	color: #fff;

	&:hover, &:focus {
		color: rgba(255, 255, 255, 0.7);
	}
}

.wpb_animate_when_almost_visible {
	@include opacity(1 !important); 
}

.bold {
	font-weight: 700 !important;
}

/* Shortcodes
------------------------------*/


/* Pages static 
------------------------------*/
.cms-content-cont{
	display:table;
	height:600px;
	width:100%;
	overflow:hidden;
	>.no-container, >.container, > .wpb_wrapper{
		display: table-cell;
		vertical-align: middle;
		height: 100%;
	}

}
.cms-positon-inherit{
	position:inherit !important;
}
.cms-positon-relative{
	position:relative !important;
}
.arrow-in-home {
	position:absolute !important;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -20px;
	bottom: 3px;
	z-index: 99;
	@include animation(1s ease-in-out 0s normal none infinite running scroll-down-anim);
	@include transition(all 0.4s);
	a {
		i {
			font-size: 32px;
			font-weight: 400;
			height: 40px;
			width: 40px;
			margin: 0;

			&:before {line-height: inherit;}
		}
	}
}
@-webkit-keyframes scroll-down-anim {
    0%{ transform: translateY(-8px); }
    50%{ transform: translateY(0px); }
    100%{ transform: translateY(-8px); }
}
@-moz-keyframes scroll-down-anim {
    0%{ transform: translateY(-8px); }
    50%{ transform: translateY(0px); }
    100%{ transform: translateY(-8px); }
}
@-o-keyframes scroll-down-anim {
    0%{ transform: translateY(-8px); }
    50%{ transform: translateY(0px); }
    100%{ transform: translateY(-8px); }
}
@keyframes scroll-down-anim {
    0%{ transform: translateY(-8px); }
    50%{ transform: translateY(0px); }
    100%{ transform: translateY(-8px); }
}

.fes10-container {
  	padding: 100px 100px 70px 100px;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	width:100%;
}

.container-p-75 {
	padding: 0 75px;
}

@media (max-width: 1200px) {
	.container-p-75 {
		padding:0;
	}
}

@media (max-width: 767px) {
	.fes10-container {
		padding: 80px 20px 50px 20px;
	}
}

/* Row background video
------------------------------*/
.sm-video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(3, 3, 3, 0.7);
	}

	.sm-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#video_background {
		max-width: inherit;
	}
}

.widget.affix{
	top:90px;
}

.logged-in.admin-bar {
	.widget.affix{
		top:125px;
	}	
}

/* CMS Contact Info
--------------------------------*/
.cms_contact_info{
	.cms-contact-info-body{
		position:relative;
		padding-left:65px;
		.contact-info-box-icon{
			position:absolute;
			font-size: 35px;
			left:0;
			top:50%;
			@include transform(translateY(-50%));
		}
		.contact-info-box-content{
			border-left:1px solid #bdbdbd;
			padding:16px 0 18px 27px;
			h3{
			    color: $link_color;
			    font-weight: 700;
			    font-size: 16px;
			    line-height: 26px;
			    margin: 0;
			    text-transform: uppercase;
			}
			p{
			    margin: 0;
    			font-size: 12px;
			}
		}
	}
}

/* Contact form 7
--------------------------------*/
.wpcf7-form {
	clear:both;
	overflow:hidden;

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 25px;
	}
	input[type=text],
	input[type=email],
	input[type=phone],
	input[type=password],
	input[type=url],
	input[type=tel]{
		width: 100%;
		border-color: #ccc;
		color: $primary_color;
		height: 37px;

		&::-webkit-input-placeholder {color: $primary_color; @include opacity(1);}
		&::-moz-placeholder          {color: $primary_color; @include opacity(1);}/* Firefox 19+*/
		&:-moz-placeholder           {color: $primary_color; @include opacity(1);}/* Firefox 18- */
		&:-ms-input-placeholder      {color: $primary_color; @include opacity(1);}

		&:hover, &:focus {
			border-color: $primary_color;
		}
	}

	textarea {
		width: 100%;
		padding-bottom:0;
		padding-bottom:0;
		padding: 8px 20px 8px 0;
		border-color: #ccc;
		color: $primary_color;

		&::-webkit-input-placeholder {color: $primary_color; @include opacity(1);}
		&::-moz-placeholder          {color: $primary_color; @include opacity(1);}/* Firefox 19+*/
		&:-moz-placeholder           {color: $primary_color; @include opacity(1);}/* Firefox 18- */
		&:-ms-input-placeholder      {color: $primary_color; @include opacity(1);}
	}

	.cms-button {
		margin-top: 15px;
		letter-spacing: 0.5px;
	}

	.button-pull-right {
		.cms-button {
			float: right;
		}

		img.ajax-loader {
			position: relative;
			right: 10px;
			top: 25px;
		}
	}
}

.font-raleway .wpcf7-form {
	input, textarea {
		font-family: $font_raleway;
		&::-webkit-input-placeholder {font-family: $font_raleway}
		&::-moz-placeholder          {font-family: $font_raleway}/* Firefox 19+*/
		&:-moz-placeholder           {font-family: $font_raleway}/* Firefox 18- */
		&:-ms-input-placeholder      {font-family: $font_raleway}
	}
}

/* Unit */
pre {
	background-color: #f7f7f7;
	border: none;
}

table {
	width: 100%;
}
td {
	border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
    
}

td, th {
	display: table-cell;
    vertical-align: inherit;
    text-align: left;
}

th, caption {
	text-transform: uppercase;
}

dd {
	margin: 0 0 20px;
}

.entry-title .fa-thumb-tack {
	display: none;
}

.sticky .entry-title .fa-thumb-tack {
	display: inline-block;
}

.entry-content .pagination {
	.page-numbers {
		background: #4b4e53;
		padding: 6px 12px;
		margin-right: 5px;
		color: #fff;
		@include transition(all 0.3s ease 0s);
	}

	a .page-numbers {
		background: #eee;
		color: #7e8082;
	}

	a:hover .page-numbers {
		background: #4b4e53;
		color: #fff;
	}
}

body .comment-content ul ul {
	padding-left: 30px;
}

.comments-area ul {
	list-style-type: square;
}

.comments-area ol {
	list-style-type: decimal;
}

.sidemenu-wrap ul.menu > .menu-item-has-children > a {
	display: block;
}



